<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
            crossorigin="anonymous"></script>
    <script>alert();</script>
</head>
<body>

<nav class="navbar navbar-dark bg-dark p-2">
    <a class="navbar-brand" href="payers">Payers</a>
    <a class="navbar-brand" href="pay-records">Pay Records</a>
    <a class="navbar-brand" href="#">Navbar</a>
</nav>


<div class="container mt-5">
    <div class="row">
        <div class="col">
            <table class="table table-dark table-striped">
                <thead>
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Second Name</th>
                    <th scope="col">Shares</th>
                </tr>
                </thead>
                <tbody>
                <body>
                {% for pay_record in pay_records %}
                <tr>
                    <td>{{pay_record.payer.first_name}} {{pay_record.payer.second_name}}</td>
                    <td>{{pay_record.paid_shares}}</td>
                    <td>{{pay_record.pay_date}}</td>
                </tr>
                {% endfor %}
                </body>

                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>